$colors = {
  primary: #209cee,
  text: #555
}

$breakpoints = {
  phablet: 'only screen and (min-width: 768px)',
  tablet: 'only screen and (min-width: 968px)',
  desktop: 'only screen and (min-width: 1206px)',
  desktop-xl: 'only screen and (min-width: 1380px)',
}
